.login-form {
    max-width: 360px;
    text-align: center;
    margin: 60px auto;
}

.login-form label,
.login-form button {
    display: block;
    margin: 15px auto;
}

.login-form-title {
    font-size: 2em;
    color: rgb(75, 75, 75);
    margin-bottom: 60px;
}

.login-form button {
    background-color: rgb(133, 160, 90);
    margin-top: 40px;
    font-size: 1.3em;
    width: 50%;
    height: 40px;
    border: 2px solid rgb(133, 160, 90);
    border-radius: 6px;
    color: white;
}

.login-form button:hover {
    background-color: white;
    color: rgb(133, 160, 90);
    cursor: pointer;
}

.login-form input {
    box-sizing: border-box;
    padding: 8px 12px;
    width: 100%;
    font-size: 1.2em;
}

