.navbar {
    background-color: rgb(156, 156, 156);
    box-sizing: border-box;
}

.navbar-ul {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 20px 60px;
    align-items: center;
    max-width: 1000px;
}

.nav-title {
    margin-right: auto;
    margin-left: 0;
    font-weight: bold;
    font-size: 1.4em;
    letter-spacing: 2px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar li {
    margin-left: 30px;
}

.navbar a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
    margin-top: 5px;
}

.navbar a:hover::after {
    width: 100%;
}

.logout-btn {
    background-color: rgb(133, 160, 90);
    font-size: 1.3em;
    height: 35px;
    width: 115%;
    border: 2px solid rgb(133, 160, 90);
    border-radius: 6px;
    margin: 0;
    color: rgb(240, 240, 240);
}

.logout-btn:hover {
    background-color: rgb(240, 240, 240);
    color: rgb(133, 160, 90);
    cursor: pointer;
}